<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./include/header')%>
</head>
<body>
    <%-include('./include/pageloader')%>
    <%-include('./include/navbar')%>
    <div style="display: flex; justify-content: center; padding-top: 50px;">
    <h1>404 Not Found</h1>
    </div>
    <div style="display: flex; justify-content: center; padding-top: 50px; padding-bottom: 50px;">
    <h3>We can't find your link you look. Maybe you can check your link.</h3>
    </div>
    <%-include('./include/instagram')%>
    <%-include('./include/footer')%>
    <%-include('./include/plugins')%>
</body>
</html>